mat-toolbar {
  background-color: #171535; /* Sivkasta (grayish) boja */
  height: 60px;
}

div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

button {
  margin-right: 35px;
  background-color: #235471 !important;
  color: #ffffff !important;
}

a {
  margin-right: 35px;
  align-self: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.nav-bar-container {
  display: flex;
}

mat-toolbar ::ng-deep a {
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
}

.cineo-text {
  color: #ffffff;
  font-size: 24px; /* Adjust the font size as needed */
  margin-left: 30px;
  margin-top: 5px;
  cursor: pointer;
}
