<div id="clip-div">
    <div id="title">
        <h2>{{movie?.title}}</h2>
        <div>
        <select [(ngModel)]="selectedResolution" (change)="onResolutionChange()">
            <option value="144">144p</option>
            <option value="360">360p</option>
            <option value="480">480p</option>
            <option value="720">720p</option>
        </select>
          
        </div>
    </div>
    <div id="video-div">
        <video width="400" controls src="{{videoBase64}}"></video>
    </div>
    <div id="buttons-class">
        <button class="download-button" [routerLink]="['/change-movie']" [queryParams]="{id: id, title: movie?.title, description: movie?.description, actors: movie?.actors, directors:movie?.directors, genres: movie?.genres}">Change</button>
        <button class="download-button" (click)="onDownload()">Download</button>
        <button class="delete-button" (click)="onDelete()">Delete Video</button>
    </div>
    <div id="movie-info">
        <h2>Description:</h2>
        <p>{{movie?.description}}</p>
        <hr>
        <div class="div-movie-data">
            <p>Genres:     {{movie?.genres}}</p>
        </div>
        <div class="div-movie-data">
            <p>Actors:    {{movie?.actors}}</p>
        </div>
        <div class="div-movie-data">
            <p>Directors:   {{movie?.directors}} </p>
        </div>
    </div>
</div>
