<div class="main-container">
  <div class="main">
    <form [formGroup]="movie" (ngSubmit)="onSubmit()">
      <div class="basic-info card">
        <div class="title">
          <h1>{{title}}</h1>
        </div>
        <div *ngIf="formSubmitted && (!movie.valid || actors.length === 0 || genres.length === 0 || directors.length === 0 || videoBase64 === '' || receivedImageBase64 === '' )" class="error-message">
          All fields must be filled in.
        </div>
        <div class="inputs-basic-info">
          <!-- Input fields for fileName, title, resolution, and description -->
          <div class="input-field">
            <label for="fileName">File name</label>
            <input id="fileName" formControlName="fileName" type="text" required placeholder="File name">
            <div *ngIf="formSubmitted && movie.get('fileName')?.invalid" class="field-error">
              File name is required.
            </div>
          </div>
          <div class="input-field">
            <label for="title">Title</label>
            <input id="title" formControlName="title" type="text" required placeholder="Title">
            <div *ngIf="formSubmitted && movie.get('title')?.invalid" class="field-error">
              Title is required.
            </div>
          </div>
          <div class="input-field">
            <label for="resolution">Resolution</label>
            <select id="resolution" formControlName="resolution" required>
              <option value="144">144p</option>
              <option value="360">360p</option>
              <option value="480">480p</option>
              <option value="720">720p</option>
            </select>
            <div *ngIf="formSubmitted && movie.get('resolution')?.invalid" class="field-error">
              Resolution is required.
            </div>
          </div>
          <div class="input-field">
            <label for="description">Property description</label>
            <textarea id="description" formControlName="description" required placeholder="Property description"></textarea>
            <div *ngIf="formSubmitted && movie.get('description')?.invalid" class="field-error">
              Description is required.
            </div>
          </div>

          <!-- Input fields for actors -->
          <mat-form-field class="example-chip-list">
            <mat-label>Actors</mat-label>
            <mat-chip-grid #chipGridActors aria-label="Enter actors">
              <mat-chip-row *ngFor="let actor of actors"
                            (removed)="remove(actor)"
                            [editable]="true"
                            (edited)="edit(actor, $event)"
                            [aria-description]="'Press Enter to edit ' + actor">
                {{ actor }}
                <button matChipRemove [attr.aria-label]="'Remove ' + actor">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New actor..."
                     [matChipInputFor]="chipGridActors"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"/>
            </mat-chip-grid>
            <div *ngIf="formSubmitted && actors.length === 0" class="field-error">
              At least one actor is required.
            </div>
          </mat-form-field>

          <!-- Input fields for directors -->
          <mat-form-field class="example-chip-list">
            <mat-label>Directors</mat-label>
            <mat-chip-grid #chipGridDirectors aria-label="Enter directors">
              <mat-chip-row *ngFor="let director of directors"
                            (removed)="removeDirector(director)"
                            [editable]="true"
                            (edited)="editDirector(director, $event)"
                            [aria-description]="'Press Enter to edit ' + director">
                {{ director }}
                <button matChipRemove [attr.aria-label]="'Remove ' + director">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New director..."
                     [matChipInputFor]="chipGridDirectors"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addDirector($event)"/>
            </mat-chip-grid>
            <div *ngIf="formSubmitted && directors.length === 0" class="field-error">
              At least one director is required.
            </div>
          </mat-form-field>

          <!-- Input fields for genres -->
          <mat-form-field class="example-chip-list">
            <mat-label class="custom-label">Genres</mat-label>
            <mat-select formControlName="genres" multiple required>
              <mat-option *ngFor="let genre of predefinedGenres" [value]="genre">{{ genre }}</mat-option>
            </mat-select>
            <div *ngIf="formSubmitted && movie.get('genres')?.invalid" class="field-error">
              At least one genre is required.
            </div>
          </mat-form-field>

          <!-- Image upload component -->
          <div class="imageUpload">
            <app-image-upload (imageBase64String)="handleImageBase64($event)"></app-image-upload>
            <div *ngIf="formSubmitted && receivedImageBase64 === ''" class="field-error">
              Image upload is required.
            </div>
          </div>

          <!-- Video upload component -->
          <div class="videoUpload">
            <app-video-upload (videoBase64String)="handleVideoBase64($event)"></app-video-upload>
            <div *ngIf="formSubmitted && videoBase64 === ''" class="field-error">
              Video upload is required.
            </div>
          </div>

        </div>
        <div class="add-buttons">
          <button mat-raised-button id="cancel">Cancel</button>
          <button mat-raised-button type="submit" id="add">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
